/* .rec-right{
    float: right;
    margin-right: 20px;
    border-radius: 30px;
}

.rec-left{
    float: left;
    margin-left: 20px;
    border-radius:30px;
}

.right-img{
    border-radius: 20px;
}

.left-img{
    border-radius: 20px;
} */